.form {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 100px;
}
.form form input {
  display: block;
  border: 1px solid #6761e0;
  margin-bottom: 10px;
  width: 250px;
  outline: none;
  padding: 5px 10px;
}
.form form input:focus {
  background-color: #eeecff;
}
