.pending {
  padding: 2px 5px;
  background-color: red;
  color: white;
  margin: 5px 0px;
  width: 90px;

  border-radius: 5px;
}
.approved {
  background-color: #4f46e5;
  padding: 2px 5px;
  color: white;
  margin: 5px 0px;
  width: 90px;
  border-radius: 5px;
}
@media only screen and (max-width: 666px) {
  .order-img {
    margin-top: 10px;
  }
}
